.list {
    color: white;
    width: 300px;
    background-color: palevioletred;
    height: 50px;
    margin: 20px auto;
    border-radius: 7px;

}

.list p{

    padding: 10px;
    position: relative;

}

.list p span {
    position: absolute;
    right: 10px;
    cursor: pointer;

}

.faicons{
margin: 0 5px;
font-size: 15px;

}

.list p input {
    background-color: transparent;
    color: white;
    border: 0;
    font-size: 18px;

}

.list p input:focus{
    outline: none;
}